* {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  background-image: url("./img/main-image.png");
  background-size: cover;
  height: 100vh;
  align-items: center;
}

#h1Fonte {
  font-family: fantasy;
  color: aliceblue;
}

.redesSociais {
  float: right;
  display: flex;
}

.infoContainer {
  display: flex;
}

.infoContainer, ul {
  list-style-type: none;
} 